# http://genbattle.bitbucket.org/blog/2016/01/17/c++-travis-ci/
# https://github.com/whoshuu/cpr/blob/master/.travis.yml

language: cpp
sudo: required
dist: trusty
notifications:
  slack: era-tum:H6XLebbfxen7b1oqUO1nNVny

matrix:
  include:
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env: COMPILER=g++-5
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.6
          packages:
            - clang-3.6
      env: COMPILER=clang++-3.6

install:
  - CMAKE_VERSION_MM=3.2
  - CMAKE_VERSION_FULL=$CMAKE_VERSION_MM.2
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      sudo apt-get update -qq
      && sudo apt-get install -qq qt5-qmake qtbase5-dev qtdeclarative5-dev
      && wget --no-check-certificate http://www.cmake.org/files/v${CMAKE_VERSION_MM}/cmake-${CMAKE_VERSION_FULL}-Linux-x86_64.sh
      && sudo sh cmake-${CMAKE_VERSION_FULL}-Linux-x86_64.sh --prefix=/usr/local --exclude-subdir;
    fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
    brew update
      && ((brew list -1 | grep -q "^$cmake\$") || brew install cmake)
      && (brew outdated cmake || brew upgrade cmake)
      && cmake --version;
    fi

before_script:
  - export CXX=$COMPILER CC=$CCOMPILER
  - cmake --version
  - mkdir build
  - cd build
  - cmake ..

script:
  - make VERBOSE=1
  - ctest --verbose --parallel 2

notifications:
  email: false
