editor
  keywords
    immediate
      color: red
      font-weight: bold
    instruction
      color: blue
    comment
      color: green
    register
      color: rgb(177, 137, 4)
    label
      color: red
