memory
  cell
    background: transparent
    color: $primary-text-color
    border-color: $divider-color
    border-radius: 3px
    font-size: 12px
    height: 24px
    min-width: 95px
  divider
    color: $divider-color
    width: 1px
  address
    background: transparent
    color: $primary-text-color
    font-size: 12px
    font-weight: normal
    margin-left: -10px
    width: 90px
  header
    background: red
    font-size: 12px
    font-weight: bold
    height: 25px
    button
      width: 70px
    remove
      background: transparent
      color: $accent-color
      font-size: 16px
      font-weight: bold
      margin-bottom: 0px
      margin-left: 0px
  add
    background: transparent
    color: $accent-color
    font-size: 14px
    font-weight: bold
    margin-bottom: 2px
    margin-right: 0px
