memory
  cell
    background: transparent
    color: $primary-text-color
    font-size: 12px
    height: 24px
    border
      color: $divider-color
      width: 1px
  address
    background: transparent
    color: $primary-text-color
    font-size: 12px
    font-weight: normal
    margin-left: -10px
    width: 80px
  header
    background: transparent
    font-size: 12px
    font-weight: bold
    height: 25px
