snapshots
  dialog
    background: white
    margin:
      left: 10px
      right: 10px
      top: 25px
      bottom: 40px
    width: 400px
    height: 95px
    input
      background: white
      color: $primary-text-color
      font-size: 14px
      margin-top: 8px
      radius: 2px
      border
        color: $divider-color
        width: 1px
    button
      margin-top: 10px
      margin-bottom: 20px
      margin-right: 10px
