//////////////////////////////
// VARIABLES
//////////////////////////////

// Material Design (Blue/Pink) Palette

$white:                #FFFFFF
$primary-color-dark:   #1976D2
$primary-color:        #2196F3
$primary-color-light:  #BBDEFB
$primary-color-text:   #FFFFFF
$accent-color:         #FF4081
$primary-text-color:   #212121
$secondary-text-color: #757575
$divider-color:        #BDBDBD

// Own
$green:                #8BC34A
$primary-color-semi-light: lighten($primary-color, 20%)
$project-creation-section-height: 50px
$project-creation-section-width: 280px
$button-height: 40px

//////////////////////////////
// STYLES
//////////////////////////////

@import 'window'
@import 'project-creation'
@import 'settings'
@import 'snapshots'
@import 'toolbar'
@import 'checkbox'

register
  background: transparent
  height: 40px
  margin-left: -5px
  margin-right: 10px
  overflow: auto
  label
    color: $primary-text-color
    font-size: 12px
    font-weight: bold
  content
    background: white
    color: $primary-text-color
    font-size: 12px
    height: 25px
    margin: 4px
    radius: 2px
    border
      color: $divider-color
      width: 1
    highlighted
      background: $accent-color
    &:disabled
      background: darken(white, 5%)
      color: $secondary-text-color
  selector
    height: 23px
    width: 15px
    background: transparent
    color: $accent-color
    font-size: 14px
    radius: 1px
